@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');



body{
  margin:0;
  padding:0;
  box-sizing: border-box;
  font-family: Lobster, sans-serif;
  background-color: #A8A8F5;
  text-shadow: 2px 2px 3px #727272;
  font-size: 1.5rem;
  text-align: center;
  color:#757575;
  
}

h1{
  color:#F2E2BA
}

.container{
  
  max-width: 1400px;
  margin: 0 auto;
  display:flex;
  flex-direction: column;
  align-items: center;
  
}

input, button, ul, li{
  all:unset;
  box-shadow: 10px 10px 10px -10px rgba(0,0,0,0.75);
}

button{
  
  display: inline-block;
  background: white;
  text-align:center;
  cursor: pointer;
      width: 2rem;
      height: 2rem;
      padding: 0.5rem 1rem;;
      margin-right: 2rem;
      color: white;
      line-height:3rem;
      font-size: 3rem;


}

input{
    width: 60%;
    height: 2rem;
    padding: 0.5rem;
    background-color:white;
    margin-right: 2rem;
}

.task-input{
  background-color: #EBEBEB;
  color:white;
}

.task-input::placeholder{
  color: white;
}

.clear-tasks,
.delete-task{
  width: 8rem;
  padding: 0.5rem 1rem;
  white-space: nowrap;
  text-align: center;
  line-height: 2rem;
  font-size:2rem;
  
}

.clear-tasks{
  background-color: #F2BAF0;
}

.clear-tasks:hover,
.clear-tasks:active{
  color:  #F2BAF0;
  background-color: white;
}

.delete-task{
  background-color: #F2BAC9;
}

.delete-task:hover,
.delete-task:active{
  color:  #F2BAC9;
  background-color: white;
}

.edit-task{
  background-color: #F2E2BA;
}

.edit-task:hover,
.edit-task:active{
  color:  #F2E2BA;
  background-color: white;
}




.input-container{
  margin-top: 4rem;
  width: 80%;
  display:flex;
  align-items: center;
  justify-content: center;

    .add-tasks{
      background-color: #BAF2E9;

    }

    .add-tasks:hover,
    .add-tasks:active{
      color:  #BAF2E9;
      background-color: white;
    }

    .clear-tasks{
      width: 20%;
      padding: 0.5rem 1rem;
      white-space: nowrap;
      text-align: center;
      line-height: 1rem;
    }
}


.task-container{
  width: 80%;
  display:flex;
  margin-top: 3rem;
  
    .task-list{
      width:100%;

      div{
        width:100%;
        margin: 1rem 0;
        display:flex;
 
          .edit-mode{
            background-color:#F2E2BA;
            color:white;
          }

      }
  }

}
  


